h3 #{recipe.name}

div()
  div(class='col s4')
    div Designed by: #{recipe.author}
  div(class='col s4')
    div Style: #{recipe.style.category} #{recipe.style.category!='' ? '-' : ''} #{recipe.style.name}
  div(class='col s4')
    div Batchsize: #{recipe.batchSize} L


div(class="section")
  h5 Characteristics



  .characteristics
    .characteristic-line
      div(class="c-name col s4") EBC
      div(class="c-value col s4") #{Brauhaus.srmToEbc(recipe.color).toFixed(0)} (#{Brauhaus.srmToName(recipe.color)})
      div(class="c-style col s4") style bar
    .characteristic-line
      div(class="c-name col s4") Alcohol
      div(class="c-value col s4") #{recipe.abv.toFixed(1)} %
      div(class="c-style col s4") style bar
    .characteristic-line
      div(class="c-name col s4") Bitterness
      div(class="c-value col s4") #{recipe.ibu.toFixed(0)} IBU
      div(class="c-style col s4") style bar
    .characteristic-line
      div(class="c-name col s4") OG
      div(class="c-value col s4") #{recipe.og.toFixed(3)}
      div(class="c-style col s4") style bar
    .characteristic-line
      div(class="c-name col s4") FG
      div(class="c-value col s4") #{recipe.fg.toFixed(3)}
      div(class="c-style col s4") style bar
    .characteristic-line
      div(class="c-name col s4") BU/GU
      div(class="c-value col s4") #{recipe.buToGu.toFixed(3)}
      div(class="c-style col s4") style bar
