h3(contenteditable="true", id="recipe-name") #{recipe.name}

.section
  div(class='col s4')
    span Designed by:
    span(contenteditable="true" style="margin-left: 5px") #{recipe.author}
  div(class='col s4')
    span Style:
    div(id="style_name" contenteditable="true" style="margin-left: 5px; display: inline-block") #{recipe.style.name}
  div(class='col s4')
    span Batchsize:
    span(contenteditable="true" style="margin-left: 5px") #{recipe.batchSize}
    span(style="margin-left: 5px") L


.section
  h5 Characteristics



  .characteristics
    .characteristic-line
      div(class="c-name col s4") EBC
      div(class="c-value col s4") #{Brauhaus.srmToEbc(recipe.color).toFixed(0)} (#{Brauhaus.srmToName(recipe.color)})
      div(class="c-style col s4 style-bar-div")
        - var style_type = "srm"
        - var style_arr = style ?  [Brauhaus.srmToEbc(style.srm[0]), Brauhaus.srmToEbc(style.srm[1])] : ""
        - var value_style = recipe.color
        include bar.pug

    .characteristic-line
      div(class="c-name col s4") Alcohol
      div(class="c-value col s4") #{recipe.abv.toFixed(1)} %
      div(class="c-style col s4 style-bar-div")
        - var style_type = "abv"
        - var style_arr = style ? style.abv : ""
        - var value_style = recipe.abv
        include bar.pug

    .characteristic-line
      div(class="c-name col s4") Bitterness
      div(class="c-value col s4") #{recipe.ibu.toFixed(0)} IBU
      div(class="c-style col s4 style-bar-div")
        - var style_type = "ibu"
        - var style_arr = style ? style.ibu : ""
        - var value_style = recipe.ibu
        include bar.pug

    .characteristic-line
      div(class="c-name col s4") OG
      div(class="c-value col s4") #{recipe.og.toFixed(3)}
      div(class="c-style col s4 style-bar-div")
        - var style_type = "og"
        - var style_arr =  style ? style.gu : ""
        - var value_style = recipe.og
        include bar.pug


    .characteristic-line
      div(class="c-name col s4") FG
      div(class="c-value col s4") #{recipe.fg.toFixed(3)}
      div(class="c-style col s4 style-bar-div")
        - var style_type = "fg"
        - var style_arr = style ? style.fg : ""
        - var value_style = recipe.fg
        include bar.pug


    .characteristic-line
      div(class="c-name col s4") BU/GU
      div(class="c-value col s4") #{recipe.buToGu.toFixed(3)}
      div(class="c-style col s4 style-bar-div")
        - var style_type = "buToGu"
        - var style_arr = ""
        - var value_style = recipe.buToGu
        include bar.pug

.section
  h5 Ingredients

    h6 Fermentables

    .ingredients-table
      ul.collapsible
        each fermentable in recipe.fermentables
          li
            .collapsible-header
              span.fermentable-icon
                i(class="material-icons circle" style="background-color:" + fermentable.colorCss())
              span(class="fermentable-name" contenteditable="true" style="margin-left: 5px")= fermentable.name
              span.fermentable-quantity
                span.fermentable-quantity-value= fermentable.weight
                span.fermentable-quantity-unit  kg
            .collapsible-body
              .collapsible-body-content
                div(class='fermentable-color col s6')= Brauhaus.srmToEbc(fermentable.color).toFixed(0) + ' EBC'
                div(class='fermentable-yield col s6') yield #{fermentable.yield} %

    h6 Hops

- var no_misc = true;
    .ingredients-table
      ul.collapsible
        each hop in recipe.spices
          if hop.aa != 0
            li
              .collapsible-header
                span.hop-name= hop.name
                span.hop-use #{hop.use}: #{hop.time} #{hop.use!="Dry Hop" ? 'm':'days'}
                span.hop-quantity #{hop.weight*1000} g
              .collapsible-body
                .collapsible-body-content
                  div(class='hop-aa col s6')= hop.aa + ' AA'
                  div(class='hop-form col s6')= hop.form
          else
            - no_misc = false;

    h6 Misc


    .ingredients-table
      if no_misc == false
        ul.collapsible
          each misc in recipe.spices
            if misc.aa == 0
              li
                .collapsible-header
                  span.misc-name= misc.name
                  span.misc-use= misc.use
                  span.misc-quantity #{misc.weight*1000} g


    h6 Yeast

    .ingredients-table
      ul.collapsible
        each yeast in recipe.yeast
          li
            .collapsible-header
              span.yeast-name= yeast.name
              span.yeast-attenuation #{yeast.attenuation} %
            .collapsible-body
              .collapsible-body-content
                div(class='yeast-type col s6')= yeast.type
                div(class='yeast-form col s6')= yeast.form


.fixed-action-btn
  a(class="btn-floating btn-large red")
    i(class="large material-icons") mode_edit
  ul
    li
      a(class="btn-floating blue")
        i(class="material-icons" title="save") save
    li
      a(class="btn-floating green")
        i(class="material-icons" title="clone") call_split
